body {
    background-image: url(../figma/back1.svg);
}

.img-me {
    position: absolute;
    width: 430px;
    height: 602px;
    left: 55px;
    top: 30px;
    background: url(../images/IMG_0455.jpg);
    background-position: center;
    background-size: cover;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 39px;
    z-index: -1;
}

.intro {
    width: 100%;
    position: absolute;
    width: 601.45px;
    height: 138px;
    left: 565.55px;
    top: 193px;
}

.intro h1 {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    /* margin: 18px 0 10px; */
    color: var(--main-color);
    line-height: 62px;
    font-size: 51px;
}

.intro h1 span {
    color: #fff;
}

.intro p {
    margin-top: 5vh;
    line-height: 22px;
    font-size: 18px;
    color: #fff;
    /* margin: 15px 0 28px; */
}

.btn-more {
    width: 100%;
    margin-top: 5vh;
    position: relative;
}

.btn-more img{
    position: absolute;
    left: 140px;
    margin: 0;
}

.more {
    text-transform: uppercase;
    border: var(--main-color);
    padding: 16px 53px 16px 25px;
    height: 50px;
    background: none;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    color: #fff;
    position: absolute;
}

.more::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 1.5rem;
    left: 10rem;
    width: 88%;
    height: 49px;
    background-color: var(--main-color);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    transform-origin: 0 0;
    transform: scaleX(0);
    z-index: -1;
    transition: all 0.2s linear;
}

.more:hover::before {
    position: absolute;
    width: 86%;    
    transform: scaleX(-1);
    left: 10rem;
}

@media screen and (max-width: 768px) {
    body {
        background-image: url();
        max-width: 768px;
        height: 110vh;
    }
    
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .img-me {
        left: 0;
        height: 300px;
        width: 300px;
        border-radius: 50%;
        position: relative;
    }

    .intro {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 90%;
        left: 50px;
        top: 50px;
        z-index: -1;
    }
    
    .intro h1 {
        font-size: 45px;
        text-align: center;
    }

    .intro p {
        text-align: center;
    }

    .btn-more {
        margin-left: 180px;
    }
}