body {
    background-image: url(../figma/back1.svg);
}

.intro {
    position: absolute;
    width: 601.45px;
    height: 138px;
    left: 565.55px;
    top: 193px;
}

.intro hr {
    position: absolute;
    flex-basis: 30%;
    width: 35px;
    border: 3px solid var(--main-color);
}

.intro h1 {
    position: relative;
    text-transform: uppercase;
    font-weight: 700;
    /* margin: 18px 0 10px; */
    color: var(--main-color);
    line-height: 62px;
    font-size: 51px;
}
.intro h1 span {
    color: #fff;
}

.intro p {
    margin-top: 5vh;
    line-height: 22px;
    font-size: 18px;
    color: #fff;
    /* margin: 15px 0 28px; */
}

.btn-more {
    margin-top: 5vh;
}

.btn-more img{
    position: absolute;
    left: 140px;
    margin: 0;
}

.more {
    text-transform: uppercase;
    border: var(--main-color);
    padding: 16px 53px 16px 25px;
    height: 50px;
    background: none;
    border: 1px solid var(--main-color);
    border-radius: 50px;
    color: #fff;
    position: absolute;
}

.more::before {
    content: " ";
    position: absolute;
    top: 0;
    right: 1.5rem;
    left: 10rem;
    width: 88%;
    height: 49px;
    background-color: var(--main-color);
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    text-transform: uppercase;
    color: #fff;
    transform-origin: 0 0;
    transform: scaleX(0);
    z-index: -1;
    transition: all 0.2s linear;
}

.more:hover::before {
    position: absolute;
    width: 86%;    
    transform: scaleX(-1);
    left: 10rem;
}

@media screen and (max-width: 320) {
    /* body {
        background-color: #fff;
    } */
    
}