:root {
    --main-color: #fab430;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

body {
    background-color: #111111;
    background-repeat: no-repeat;
}


.nav-right {
    min-height: 100vh;
    position: fixed;
    top: 20px;
    right: 30px;
    display: flex;
    flex-direction: column;
    gap: 15vh;
}

.nav-right .mode{
    /* display: none; */
    opacity: 0;
}

.nav-right .menus {
    display: flex;
    list-style: none;
    flex-direction: column;
    gap: 20px;
    justify-content: space-between;
}

.menus li {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #2b2a2a;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    transition: all 250ms linear;
    position: relative;
}

.menus .active {
    background-color: var(--main-color);
}

.menus li::before {
    content: attr(data-tooltip);
    position: absolute;
    background-color: var(--main-color);
    right: 1rem;
    text-transform: uppercase;
    color: #fff;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 1rem;
    padding-right: 1.4rem;
    transition: all 250ms linear;
    opacity: 0;
    z-index: -1;
}

.menus li:hover {
    background-color: var(--main-color);
}

.menus :hover::before {
    position: absolute;
    right: 1.7rem;
    opacity: 1;
}

.pg-title h1{
    font-weight: 1000;
    text-align: center;
    text-transform:uppercase;
    text-indent: 0px;
    margin-bottom: 10vh;
}

.bg-title {
    position: relative;
    top: 42px;
    font-size: 105px;
    color: #222;
}

.title {
    min-width: 100%;
    position: absolute;
    top: 65px;
    font-size: 48px;
    line-height: 72px;
    color: #fff;
}

.title span{
    color: var(--main-color);
}

.all-posts {
    width: 90%;
    margin-top: 30px;
    display: flex;
    justify-content: flex-end;
    gap: 35px;
    color: #fff;
}

.post {
    flex-basis: 30%;
    border: 1px solid #111;
    min-height: 420px;
    min-width: 320px;
    background: #252525;
    border-radius: 10px;
}

.cover img {
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
    outline: none;
    border: 0px;
    border-bottom: 7px solid #fab430;
}

.post-summ {
    margin: 15px;
}

.post-summ h3 {
    text-align: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 768px) {  
    /* .nav-right .menus {
        position: fixed;
        display: flex;
        flex-direction: row;
    } */
    
    .nav-right .menus .mode{
        display: none;
    }
    
    .nav-right .menus {
        border-radius: 50px;
        background-color: #202020;
        padding: 10px 30px 10px 30px;
        width: 98%;
        position: fixed;
        margin: 0 15px 5px 15px;
        left: 0;
        bottom: 0;
        flex-direction: row;
        z-index: 1;
    }

    .menus li {
        box-shadow: 1px 2px 2px 1px #2b2b2b;
    }
    
    .menus :hover::before {
        opacity: 0;
    }

    .all-posts {
        display: grid;
        grid-template-columns: 90%;
        margin-bottom: 90px;
    }

    .post {
        flex-basis: 90%;
    }
}